<!-- tables -->
      
<div class="agile-Updating-grids">  <div class="agile-grids pad-top10">
<div id="messagearea" class="space"> </div>
<form id="selectForm" onsubmit="return validate('libraries');; return true;">
            <div class="col-md-5 mb10">
              <div>
              <select id="select_id">
              <option>Select Search Type</option>
              <option value = "JournalPrintISSN">Journal Print ISSN</option>
              <option value = "journalOnlineISSN">journalOnlineISSN</option>
              <option value = "bookISBN">bookISBN</option>
              <option value = "bookISSN">bookISSN</option>
              </select>

              </div>
            </div>
            <div class="col-md-3">
             <label >Enter ISSN/ISBN : </label> 
              <input class="typeahead" type="text" placeholder="Start typing name of your Car....">
            </div>

     <div class=" col-sm-2 mt-10">
        <div class="button raised">
           <div class="button"></div><span>Search</span>
        </div>
      </div>

</form >
<script type="text/javascript" src="http://code.jquery.com/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="//netsh.pp.ua/upwork-demo/1/js/typeahead.js"></script>
<script type="text/javascript">
  $(document).ready(function(){

     function get_data(data){
      console.log('outside',data);
      $('input.typeahead').typeahead({
              // name: 'accounts',
              local: data
            });
    }

    // var sugges;
    $("#select_id").change(function() {
      var val = $(this).val();
      alert(val);
      $.ajax({
        async: false,
        type: 'GET',
        url: '/search_by_issn/load_suggestions',
        data: 'select_type='+val,
        success: function(suggestion){
          
          console.log('inside',suggestion);
           get_data(suggestion)
         
          //alert(xml); // WORKS
        }
      });
    });

  
  })

  $(".button").click(function(){
    var type = $('select#select_id option:selected').val();
    var issn = $('.typeahead').val();
    //console.log(suggestion)
    alert(issn);
    $.ajax({
      type: 'GET',
      url: '/search_by_issn/search',
      //data: 'select_type='+issn
      data : { select_type: type, issn: issn }
    });
  });
</script>