<!-- tables -->
      <ol class="breadcrumb"> <li><a href="/librarian/dashboard">Home</a></li>
        <li><a href="/libraries/searchByISSN/LcollapseSix-03">Search By ISSN & ISBN</a></li> 
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      </ol>

<br>

  <h4 > Search By ISSN/ISBN </h4>
  <p class="pad-top10 mar-btm20">Please choose Search Type and then enter ISSN/ISBN to view Cost per Usage details. You can calculate Cost per Usage dynamically.
</p>
<div class="agile-Updating-grids">  <div class="agile-grids pad-top10">
<div id="messagearea" class="space"> </div>
<form id="selectForm" onsubmit="return validate('libraries');; return true;">
            <div class="col-md-5 mb10">
              <div>
              <select id="select_id">
              <option>Select Search Type</option>
              <option value = "JournalPrintISSN">Journal Print ISSN</option>
              <option value = "journalOnlineISSN">journalOnlineISSN</option>
              <option value = "bookISBN">bookISBN</option>
              <option value = "bookISSN">bookISSN</option>
              </select>

              </div>
            </div>
            <div class="col-md-3">
             <label >Enter ISSN/ISBN : </label> 
              <input class="typeahead" type="text" placeholder="Start typing name of your Car....">
            </div>

     <div class=" col-sm-2 mt-10">
        <div class="button raised">
          <a href="#" class="hoverable" id="button"> <div class="anim"></div><span>Search</span></a>
        </div>
      </div>

</form >
<script type="text/javascript" src="http://code.jquery.com/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="//netsh.pp.ua/upwork-demo/1/js/typeahead.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    var sugges;
    $("#select_id").change(function() {
      var val = $(this).val();
      alert(val);
      $.ajax({
        async: false,
        type: 'GET',
        url: '/search_by_issn/load_suggestions',
        data: 'select_type='+val,
        success: function(suggestion){
          sugges = suggestion;
          console.log(suggestion);
          //alert(xml); // WORKS
        }
      });
    });

    $('input.typeahead').typeahead({
      name: 'accounts',
      local: window.sugges
    });
  })
  $("#button").click(function(){
    var type = $('select#select_id option:selected').val();
    //console.log(suggestion)
    alert(type);
    $.ajax({
      type: 'GET',
      url: '/search_by_issn/search',
      data: 'select_type='+type
    });
  });

</script>