
 <body  class="dashboard-page">
 <section class="wrapper scrollable">
  <%= render :partial => '/layouts/header'%>
  <%= render :partial => '/layouts/side_bar_navigation'%>

  <%= render :partial => 'search_form'%>





  </div>
    <div class="clearfix"></div>
  </div>
  <br>
   <!--  <div class="alert alert-info" id="noDataFoundId"> No Data Found. Please enter accurate ISSN/ISBN.</div> -->
  <%= render :partial => '/layouts/footer'%>

  </section>
          </body>     
</html>
 