<%= render :partial => 'dynamicform'%>
<div id="report_id">
	<h3 class="sub-header"></h3>
	<table border='1' class="table table-striped" width="200">
	  <tr class="success">
			<%if @aa.present?%> 
				<div class="sample">
					<div class="accordion-heading overlow" id="reportContent">
						<div class="accordion-group blue_box_heading" style="width: auto;">
							<div class="accordion-heading">
								<div style="color: black; margin-left: 1%;">
									Export Report As:    
								</div>
							</div>
						</div>
					</div>
					Successfully printed yes
				</div>
			<%else%>
			<%end%>
	  </tr>
	</table>
</div>