<div id="report_id">
	<h3 class="sub-header">Dynamic Reports</h3>
	<table border='1' class="table table-striped" width="200">
	  <tr class="success">
	  	<% byebug %>
			<%if @dynamic_reports.present?%> 
				<div class="sample">
					<% byebug %>
					<%= redirect_to(@dynamic_reports) %>
				</div>
			<%else%>
			<%end%>
	  </tr>
	</table>
</div>