<%= render :partial => 'dynamicform'%>
<div id="report_id">
	<h3 class="sub-header"></h3>
	<table border='1' class="table table-striped" width="200">
	  <tr class="success">
			<%if @aa.present?%> 
				<div class="sample">
					<% byebug %>
					<table>
					  <thead>
					    <tr>
					      <th>Name</th>
					      <th>Email</th>
					      <th>Subject</th>
					      <th>Message</th>
					      <th colspan="3"></th>
					    </tr>
					  </thead>
					</table>
					Successfully printed yes
				</div>
			<%else%>
			<%end%>
	  </tr>
	</table>
</div>