<%= form_tag(testing_loginpage_index_path, :method=>'get') do %>
 
 <p>
   Platform: <br />
  <%= select("get", "plat", Platform.all.collect {|p| [ p.name, p.id ] }) %>
 </p>


 <p>
   <%= submit_tag 'Submit' %>
 </p>


<% end %>

<!-- <script>
 $('#mySubmitButton').click(function(e) {
    e.preventDefault();
    e.stopPropagation();
    $(this).attr('disabled','disabled');
    $('#loadingImage').show(function() {
	$('#myForm').submit();
    });

});

</script>
 -->