
<%= form_tag(result_loginpage_index_path, :method=>'get') do %>
 
 <p>
   Year <br />
  <%= select("get", "platrepo", @sourcereportsyear.collect {|p| [ p.year, p.id ] }) %>
 </p>


 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>
