 table td {
   padding: 13px 12px;
    text-align: left;
    
font-size: .95em;
}

table th {
    background: #0c0ea4;
    color: #eef1f6;
    font-size: 14px;
    text-align: left;
}

.table > thead > tbody > tr > th {
   
	padding: 16px 12px;
}