
<!DOCTYPE html>

<html>
    <head>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" href="/images/libraries/common/css/bootstrap.css">
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link href="/images/libraries/common/css/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->

<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" href="/images/libraries/common/css/font.css" type="text/css"/>
<link href="/images/libraries/common/css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<script src="/images/libraries/common/js/jquery2.0.3.min.js"></script>
<script src="/images/libraries/common/js/bootstrap.js"></script>
<script src="/images/libraries/common/js/custom.min.js"></script> 

<script src="/images/libraries/common/js/modernizr.js"></script>
<!--<script src="js/jquery.cookie.js"></script>
-->
    

<link rel="stylesheet" href="/images/libraries/common/css/morris.css">
<!-- //charts -->
<!--skycons-icons-->
<!--<script src="js/skycons.js"></script>
--><!--//skycons-icons-->


<!--test collapse-->
<!-- FastClick -->
<link rel="stylesheet" href="/images/libraries/common/css/custom.min.css" type="text/css"/>


<!-- Use non-conflicting mode to avoid conflicts with any existing JQuery Library or New One -->
<script type="text/javascript" src="/scripts/jquery-custom-1.4.2.min.js"></script> 
<script src="/scripts/jquery.autocomplete.js"></script>
<script type="text/javascript">
       //create this naming for Jquery 1.4.2 version
       var jQuery_1_4_2 = jQuery.noConflict(true);
</script>
<!-- ********JQuery Non-Conflicting library for autoComplete End******** -->

<link rel="stylesheet" type="text/css" href="/styles/autosuggest_style.css" />
        <!-- HTTP 1.1 -->
<!--<meta http-equiv="Cache-Control" content="no-store"/>-->
<!-- HTTP 1.0 -->
<!-- <meta http-equiv="Pragma" content="no-cache"/>-->
<!-- Prevents caching at the Proxy Server -->
<!-- <meta http-equiv="Expires" content="0"/>-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="AppFuse 2.0" />
<!-- leave this for stats please -->
<link rel="icon" href="/images/favicon.ico" />
<script type="text/javascript">
    try 
    {     
      document.execCommand("BackgroundImageCache", false, true);
    }
    catch(err) 
    {}
</script>

         <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="SHORTCUT ICON" href="/images/favicon.ico" type="image/x-icon" />
        <title>Welcome to Online Statistics Portal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">   
     <script type="text/javascript">
     /* alert(#session.authz); */
     
$(document).ready(function(){
  $(".pageLoadContainer").hide();
});
     
     function ltrim(stringToTrim) 
     {
    return stringToTrim.replace(/(?:(?:^|\n)\s+|\s+(?:$|\n))/g,"").replace(/\s+/g," ");
  }
  function rtrim(stringToTrim) {
  return stringToTrim.replace(/(?:(?:^|\n)\s+|\s+(?:$|\n))/g,"").replace(/\s+/g," ");
}
     function renderTitle(){
      element=document.getElementById("brdcrm");
      var titleText="";
      if(element!=null){
        var ihtml=element.innerHTML;
          var startTag=0;
          var  endTag=0;
          var spaceCheck="";
             for(i=0;i<ihtml.length;i++)
          {

            if(ihtml.charAt(i) == "<" || ihtml.charAt(i) == "&"){
            startTag=1;
            endTag=0;
          }
          
          if(startTag==1){
            spaceCheck=spaceCheck+ihtml.charAt(i);
          }
          
          if(ihtml.charAt(i) == ">" || ihtml.charAt(i) == ";"){
            endTag=1;
            startTag=0;
            if(spaceCheck=="&nbsp;"){
              titleText="";
              spaceCheck="";
            }
            if(ihtml.charAt(i)==">"){
              spaceCheck="";
            }
          }
      
          if(endTag==1){
            if(ihtml.charAt(i) != "<" && ihtml.charAt(i) != "&"){
              if(ihtml.charAt(i) != ">" && ihtml.charAt(i) != ";"){
                titleText=titleText+ihtml.charAt(i);
                spaceCheck="";
              }
            }
          }
          
        }
      }
    
    //titleText=titleText.substring(titleText.indexOf(" "),titleText.length);
    titleText=ltrim(titleText);
    titleText=rtrim(titleText);
    
    if(titleText== "")
      {
          document.title="Online Statistics Portal "+titleText;
      }
    else
    {
      document.title="Online Statistics Portal "+"->"+titleText;
    }
       

     }
     
     </script>
     

    </head>

 <body  class="dashboard-page">
  <div id="loaderDivId" class="loader" style="display:none"></div>
 <section class="wrapper scrollable">
 

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <nav class="user-menu">
      <a href="javascript:;" class="main-menu-access navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu" aria-expanded="true">
      <i class="icon-proton-logo"></i>
      <i class="icon-reorder"></i>
      </a>
    </nav>
    <section class="title-bar">
      <div class="logo">
        <h1><a href="/"><img src="/images/libraries/images/macmillan-txt1.png" alt="" /></a></h1>
      </div>
      
       <%= render :partial => '/layouts/side_bar_navigation'%>
      <%= render :partial => '/layouts/header'%>
  
    <!-- Modal -->
 <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Logout Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to logout ?</p>
      </div>
      <div class="modal-footer">
           <div class="row">
               <div class=" col-sm-3 mt-10">
          <div class="button raised">
              <a href="javascript:;" id="buttonId" name="button2" data-dismiss="modal" class="hoverable" onclick="window.open('/libraries/signout','_self')"> <div class="anim"></div><span>Yes</span></a>
            </div>
        </div>
                <div class=" col-sm-3 mt-10">
          <div class="button raised">
              <a href="#" data-dismiss="modal" aria-hidden="true" id="button" name="button"  class="hoverable" > <div class="anim"></div><span>No</span></a>
            </div>
        </div>

      </div>

</div>
    </div>

  </div>
</div> 

<!-- model for profile -->
<div id="myModalProfile" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Update Your Account</h4>
      </div>
      <div class="modal-body" id="profileModel">
      </div>
    </div>

  </div>
</div> 

<div class="pageLoadContainer" ></div>
         <div class="row-fluid" style="margin-bottom:50px; min-height:450px;">
        <div class="span3">
          <div class="sidebar-nav">
             
          </div>    
      </div>
      <div class="main-grid" >
         <div class="clearfix"></div>




<!-- tables -->
<link rel="stylesheet" type="text/css" href="/images/libraries/css/table-style.css" />
<link rel="stylesheet" type="text/css" href="/images/libraries/css/basictable.css" />
<script type="text/javascript" src="/images/libraries/js/jquery.basictable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>
<script>
$(function () {
  $('a[rel=tooltip]').tooltip({
      'selector': '',
      'placement': 'left'
    });   
  })
</script>
        <ol class="breadcrumb"> <li><a href="/librarian/dashboard">Home</a></li>
         <li><a href="/libraries/listSushiPartners/Lcollapsefour-04">Integration Partners</a></li> 
        
        </ol>
<br>
<h4>Integration Partners</h4>
<div class="clearfix"></div>
<br>

<p class="pad-top10 mar-btm20">This section allows you to permit selected SUSHI enabled services to access your COUNTER reports and download them automatically using the SUSHI XML protocol. A red flag icon means no permissions are granted for that service and a green flag means that some or all permissions are granted for that service. To allow a service to access your reports click on the Manage SUSHI Permissions icon and choose the permissions that you want to grant.</p> 
  
<br>
<div class="agile-Updating-grids">  
    <div class="agile-grids pad-top10">
      
       <span class="pull-right white_text"><div class=" greenflag pull-left"> &nbsp;
       </div><div class="padding-left4px pull-left"><small>Permissions Granted</small>
        </div>  <div class="redflag  pull-left margin_left14px">&nbsp;</div> 
        <div class="padding-left4px pull-left"><small>Permissions Not Granted</small> </div>                
       
        <span class="padding_left15px"> &nbsp;</span>
        </span>

    <div class="col-md-12" style="padding:0px;">
      <div class="table-responsive">
      <table class="table table-striped">
              <thead>
                <tr>
            <th align="left"></th>
            <th align="left">Available SUSHI Partners</th>
            <th align="left">Partner Type</th>
            <th align="left">Manage SUSHI Permissions</th>
            <th align="left">Access details for your ERM system</th>
          </tr>
            </thead>
            <tbody>
              
                <tr>
                      <td><a rel="tooltip" class="tooltip_txt" title="Permissions Not Granted"><div class=" redflag"> &nbsp;</div></a></td>
                    
                    <td>Serials Solutions</td>
                    <td> Generic</td>
                    <td> <a class="icon-edit" href="/libraries/manageSushiAccount/172622"></a> </td>
                    <td>
                      
                          -
              </td>
                  </tr>
          
                <tr>
                    
                    
                      <td><a rel="tooltip" class="tooltip_txt" title="Permissions Not Granted"><div class=" redflag"> &nbsp;</div></a></td>
                    
                    <td>ScholarlyStats</td>
                    <td> Generic</td>
                    <td> <a class="icon-edit" href="/libraries/manageSushiAccount/172623"></a> </td>
                    <td>
                      
                          -
              </td>
                  </tr>
          
                <tr>
                    
                    
                      <td><a rel="tooltip" class="tooltip_txt" title="Permissions Not Granted"><div class=" redflag"> &nbsp;</div></a></td>
                    
                    <td>ABCe</td>
                    <td> Generic</td>
                    <td> <a class="icon-edit" href="/libraries/manageSushiAccount/196515"></a> </td>
                    <td>
                      
                          -
              </td>
                  </tr>
          
                <tr>
                    
                    
                      <td><a rel="tooltip" class="tooltip_txt" title="Permissions Not Granted"><div class=" redflag"> &nbsp;</div></a></td>
                    
                    <td>SUSHI Service 1</td>
                    <td> Generic</td>
                    <td> <a class="icon-edit" href="/libraries/manageSushiAccount/604203"></a> </td>
                    <td>
                      
                          -
              </td>
                  </tr>
          
                <tr>
                    
                    
                      <td><a rel="tooltip" class="tooltip_txt" title="Permissions Not Granted"><div class=" redflag"> &nbsp;</div></a></td>
                    
                    <td>SUSHI Service 2</td>
                    <td> Generic</td>
                    <td> <a class="icon-edit" href="/libraries/manageSushiAccount/604204"></a> </td>
                    <td>
                      
                          -
              </td>
                  </tr>
          
                <tr>
                    
                    
                      <td><a rel="tooltip" class="tooltip_txt" title="Permissions Not Granted"><div class=" redflag"> &nbsp;</div></a></td>
                    
                    <td>Innovative Interfaces</td>
                    <td> Generic</td>
                    <td> <a class="icon-edit" href="/libraries/manageSushiAccount/604207"></a> </td>
                    <td>
                      
                          -
              </td>
                  </tr>
          
                <tr>
                    
                    
                      <td><a rel="tooltip" class="tooltip_txt" title="Permissions Not Granted"><div class=" redflag"> &nbsp;</div></a></td>
                    
                    <td>Lehmanns Fachbuchhandlung</td>
                    <td> Generic</td>
                    <td> <a class="icon-edit" href="/integration_partners/manage_sushi_account"></a> </td>
                    <td>
                      
                          -
              </td>
                  </tr>
          
                <tr>
                    
                    
                      <td><a rel="tooltip" class="tooltip_txt" title="Permissions Not Granted"><div class=" redflag"> &nbsp;</div></a></td>
                    
                    <td>Ex Libris</td>
                    <td> Generic</td>
                    <td> <a class="icon-edit" href="/libraries/manageSushiAccount/604236"></a> </td>
                    <td>
                      
                          -
              </td>
                  </tr>
          
                <tr>
                    
                    
                      <td><a rel="tooltip" class="tooltip_txt" title="Permissions Not Granted"><div class=" redflag"> &nbsp;</div></a></td>
                    
                    <td>JUSP</td>
                    <td> Generic</td>
                    <td> <a class="icon-edit" href="/libraries/manageSushiAccount/604590"></a> </td>
                    <td>
                      
                          -
              </td>
                  </tr>
          
                <tr>
                    
                    
                      <td><a rel="tooltip" class="tooltip_txt" title="Permissions Not Granted"><div class=" redflag"> &nbsp;</div></a></td>
                    
                    <td>Millennium ERM AutoStat</td>
                    <td> Generic</td>
                    <td> <a class="icon-edit" href="/libraries/manageSushiAccount/611293"></a> </td>
                    <td>
                      
                          -
              </td>
                  </tr>
                   
            </tbody>
          </table>
    </div>
  </div>
 </div>
<div class="clearfix"> </div>
</div>
             
      </div>
      </div>



<!--  <div class="navbar navbar-inverse navbar-fixed-bottom version"> -->
    <%= render :partial => '/layouts/footer'%>
    
    </section>
          </body>
      
      
      
</html>
 