<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<%= render :partial => '/layouts/side_bar_navigation'%>

    <%= render :partial => '/layouts/header'%>
</head>
<body>

<br>
<br>

<div class="container">


	<p>
		
		<h2>About Insight Library Service</h2><br>

		<b>MPS Scholarlystats for Libraries</b> allows libraries to retrieve all customer-related information and COUNTER usage reports through a single platform. Intuitive user interfaces and customized user access settings allow easy navigation while retrieving consolidated usage reports that help make informed decisions.<br>

		MPS Scholarlystats Library Service provides accurate and consistent stats based on COUNTER standards and a variety of custom reports. These reports help in analyzing usage trends and in making informed decisions about subscriptions and budgeting.
		
		<h4><br>Benefits of Insight for Libraries:</h4><br>

		   - Helps libraries in streamlining the process of title selection<br>
		   - Provides libraries with usage insights that help make better decisions and save money<br>
		   - Option to choose from COUNTER and a variety of custom reports<br>
		   - Helps libraries to validate existing content subscriptions, analyze content inventory, and choose and acquire new content<br>
		   - Cloud-based reporting with 24 x 7 support<br>
		   - Easy comparison of performance of various e-packages<br>
		   - Automated data harvesting through SUSHI<br>
		   - Option to assess usage costs<br>


	</p>
</div>
<%= render :partial => '/layouts/footer'%>

</body>
</html>