<!--  <div class="navbar navbar-inverse navbar-fixed-bottom version"> -->
<div class="footer">
			<!-- <p>© 2016  . All Rights Reserved . Design by <a href="#">MPS</a></p> -->
	<div class="footer-grid">
		<div class="row">
  		<div  class="col-md-4 padding-top-20 footerCol1">
  			Copyright &copy; 2016 - All Rights Reserved.
  		</div>
  		<div class="col-md-4 text-center footerCol2">
  			<%= image_tag("logo-counter.png") %>
  		</div>
		  <div class="col-md-4 padding-top-20 text-right footerCol3">
		  	Powered by <span style="color:#c9302c">MPS </span>Ltd.
		  </div>
		</div>
	</div>
</div>






